@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  font-size: 125%;
}

#app{
  background-color: #1a1a1a;
  @apply
  text-white 
  min-h-screen
}

section {
  @apply
  py-6
  leading-7
  text-base
}

h2 {
  @apply
  font-bold 
  text-2xl 
  mb-2 
  text-center
}

h3 {
  @apply
  text-xl
  font-bold
  my-4
}

p{
  @apply
  my-2
}
br {
  content: ' ';
  @apply
  block
  my-4
}

img {
  @apply
  m-auto 
  my-4
}

a {
  @apply
  underline
  cursor-pointer
}

pre[class*="language-"] {
  @apply
  max-w-xl
  mx-auto
  rounded
  px-12
}

span.caption{
  @apply
  text-center 
  block
  text-purple-400
  font-semibold
}

table th {
  @apply
  text-green-100
}

table td {
  @apply 
  p-2
  text-gray-400
}
ul {
  @apply
  list-inside
  list-disc
  text-pink-300
  capitalize
}

.header__navigation {
  @apply
  hidden
  flex-col
  md:flex-row
  md:flex
  bg-gray-500
  cursor-pointer
}
.header__navigation li {
  @apply
  flex-1
  py-1
  px-4
  transition-all
  hover:bg-gray-400
  cursor-pointer
}

.body__docs{
  @apply
  px-6
  lg:px-28
}